@charset "utf-8";

/* Theme's Official Site: http://blankconcrete5theme.ajdwv.com
 * Blank Concrete5 960 Theme compiled by Adam Johnson
 * http://adamjohnsondesign.com | Twitter: @adamj_design
*/

/* Main CSS Document. Put most of your styles here */

/* customize_miscellaneous */

/* customize_miscellaneous */

body {
	font-family: 'Source Sans Pro', sans-serif;
    background-color: #1c1c1c;
}
a:link,
a:visited {
    text-decoration: none;
}
div#topnav {
    background-color: #ffffff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.4);
}
.nav li {
    padding: 7px 0;
}
.navbar {
    border-radius: 0px;
    margin: 0px;
}
.navbar-brand img {
    height: 40px;
}
.navbar-toggle {
    margin-top: 15px;
    margin-bottom: 15px;
}
.dropdown-menu li a.active {
    background-color: #ff004d;
}
div#breadcrumb {
    background-color: #F4E2D5;
}
div#breadcrumb a {
    color: #211E1F;
}
div#breadcrumb li.active {
    color: #e40038;
}
div#breadcrumb ol {
    margin-bottom: 0px;
    background-color: transparent;
}
div#main {
	background-color: #ffffff;
    background-image: url("..img/CVJM_Dreiecke_Hintergrund.gif");
}
div#main .container {
	background-color: #ffffff;
    padding: 15px 36px;
}
div#bottom {
    background-color: #e40038;
    padding: 15px;
}
div#bottom.container strong {
    color: #ffffff;
}
div#footer {
    background-color: #1c1c1c;
    padding: 15px 0;
}
div#footer li {
    display: inline-block;
}
.light {
    color: #777777;
}
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
    color: #111111;
}
.light a:link,
.light a:visited {
    color: #ff004d;
}
.light a:hover {
    color: #1c1c1c;
}
.dim {
    color: #777777;
}
.dim h1,
.dim h2,
.dim h3,
.dim h4,
.dim h5,
.dim h6 {
    color: #ffffff;
}
.dim a:link,
.dim a:visited {
    color: #ffffff;
}
.dim a:hover {
    color: #ff004d;
}
.dark {
    color: #ffffff;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
    color: #ffffff;
}
.dark a:link,
.dark a:visited {
    color: #ffffff;
    text-decoration: underline;
}
.dark a:hover {
    color: #777777;
}
