@charset "utf-8";

/* Theme's Official Site: http://blankconcrete5theme.ajdwv.com
 * Blank Concrete5 960 Theme compiled by Adam Johnson
 * http://adamjohnsondesign.com | Twitter: @adamj_design
*/

/* Main CSS Document. Put most of your styles here */

/* customize_miscellaneous */

/* customize_miscellaneous */

body {
	font-family: 'Source Sans Pro', sans-serif;
    background-color: #414141;
    /*background-image: url("img/CVJM_Dreiecke_Hintergrund.gif");*/
	background-image: url("../img/header2.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
.nav li {
    padding: 7px 0;
}
.navbar-brand img {
    height: 40px;
}
.navbar-toggle {
    margin-top: 15px;
    margin-bottom: 15px;
}
.dropdown-menu li a.active {
    background-color: #ff004d;
}
div#main .container {
	background-color: #ffffff;
    padding: 15px 36px;
}
div#bottom.container {
    background-color: #2D2D2D;
    padding: 15px;
}
div#bottom.container strong {
    color: #ffffff;
}
footer {
    background-color: #1c1c1c;
    padding: 15px 0;
}

footer li {
    display: inline-block;
}

div#main ul.nav {
	background-image: url("img/CVJM_Dreiecke_Hintergrund.gif");
}

.light {
    color: #777777;
}
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
    color: #111111;
}
.light a:link,
.light a:visited {
    text-decoration: none;
    color: #ff004d;
}
.light a:hover {
    color: #1c1c1c;
}
.dim {
    color: #777777;
}
.dim h1,
.dim h2,
.dim h3,
.dim h4,
.dim h5,
.dim h6 {
    color: #ffffff;
}
.dim a:link,
.dim a:visited {
    text-decoration: none;
    color: #ffffff;
}
.dim a:hover {
    color: #ff004d;
}
.dark {
    color: #ffffff;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
    color: #777777;
}
.dark a:link,
.dark a:visited {
    text-decoration: none;
    color: #ff004d;
}
.dark a:hover {
    color: #777777;
}
